<%= form_with(url: '/climate_ratings', method: :get) do |form| %>
  <fieldset class="sector-select">
    <legend>Sector</legend>
    <%= form.collection_radio_buttons(:category_id, Category.all, :id, :name) do |button| %>
      <div class="button">
        <%= button.radio_button %>
        <%= button.label %>
      </div>
    <% end %>
    <%= error_element("category") %>
  </fieldset>
  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
    <button type="button" id="current-location-btn">Use current location</button>
    <%= error_element("location") %>
  </div>
  <div class="field">
    <%= form.label :radius, "Radius (km)" %>
    <%= form.number_field :radius, min: 0.1, step: 0.1, value: 1 %>
  </div>
  <%= form.submit 'Show Environmental Ratings', name: nil %>
<% end %>

<% if @category_id %>
  <script>
    document.getElementById("category_id_<%= @category_id %>").checked = true;
  </script>
<% end %>

<script>
  document.getElementById("radius").value = '<%= @radius %>' || 1;
  document.getElementById("location").value = '<%= @location_name %>';

  const DEVICE_LOCATION_ERR_MSG =
    "Unable to obtain current location. Please enter it manually"

  document.getElementById("current-location-btn").addEventListener("click", () => {
    navigator.geolocation.getCurrentPosition(pos => {
      document.getElementById("location")
        .value = `${pos.coords.latitude}, ${pos.coords.longitude}`
    }, fail => {
      let errorElement = document.querySelector("#location-error");
      if (errorElement) {
        errorElement.textContent = DEVICE_LOCATION_ERR_MSG;
        return;
      }
      errorElement = document.createElement('div');
      errorElement.classList.add("error");
      errorElement.setAttribute("id", "location-error");
      errorElement.textContent = DEVICE_LOCATION_ERR_MSG;
      document.getElementById("location").parentNode.appendChild(errorElement);
    })
  })
</script>
