<%= render 'search_page' %>

<% unless @errors["location"] %>
  <div id="map" style="height:400px"></div>
<% end %>

<h2>Climate ratings for sector: <%= @category.name %></h2>
<table>
  <thead>
    <th scope="col">Ranking</th>
    <th scope="col">Company Name</th>
    <th scope="col">Rating</th>
  </thead>
  <tbody>
    <% @company_list.each_with_index do |company, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td class="company-name"><%= company.name %></td>
      <td class="company-rating"><%= company.rating %></td>
    </tr>
    <% end %>
  </tbody>
<table>
