<!DOCTYPE html>
<html>
  <head>
    <title>AcclimateApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script>
      function initMap() {

      }

      window.addEventListener('load', () => {
        const locationInput = document.querySelector("#location");
        const autocomplete = new google.maps.places.Autocomplete(locationInput, {});
      });

    </script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.gmaps_api_key%>&callback=initMap&libraries=places&v=weekly"
      async
    ></script>

    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
